/* header */

header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #b83b94;
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-weight: 400;
	font-size: 2.5rem;
	display: inline-block;
}

header div button {
	background-color: #e86c34;
	color: #f8ee2c;
	border: none;
	height: 3rem;
	width: 5rem;
	font-size: 1.25rem;
	border-radius: 6px;
}

header div button:hover {
	border: 1px solid #f8ee2c;
	box-shadow: 2px 2px 2px #551a44;
}

/* responsiveness */
@media (max-width: 550px) {
	h1 {
		font-size: 1.5rem;
	}
	header div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	header img{
		width: 50px;
	}

}
@media (max-width: 360px) {
	header{
		padding: 1rem;
	}

	header div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}


}