/* #ca1044, #e86c34, #f8ee2c, #b83b94 */

body {
	width: 100vw;
	height: 100vh;
	background-color: #ca1044;
	color: #f8ee2c;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: auto;
}

/* about */
.Main {
	width: 80%;
	margin: auto;
}
h2#about-alcohol {
	margin-top: -4rem;
}
/* h2#about-app {
	padding-top: 20rem;
	margin-top: -4rem;
} */
h2 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	color: aliceblue;
	padding-top: 8rem;
}
p {
	font-size: 1rem;
	line-height: 1.4rem;
}
#source {
	margin-top: 1rem;
}
.quote {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 1.5rem;
	color: #e9a9d7;
	margin: 1rem 0;
}

.buttons {
	margin-top: 120px;
	display: flex;
	justify-content: space-around;

}

.buttons button {
	max-width: 150px;
	min-height: 3rem;
	background-color: #f8ee2c;
	color:#b83b94;
	border-radius: 5px;
	font-size: 1.2rem;
	border:none;
	box-shadow: 2px 2px 3px rgb(100, 5, 5);
	padding: 5px;
}


.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer {
	background-color:#b83b94;
}
footer h3 {
	text-align: center;
	font-size: 20px;
	padding: 1.5rem;
}

@media (max-width: 475px) {

	.buttons button {
		width: 120px;
		min-height: 4rem;
		margin: 0 0.5rem;
		background-color: #f8ee2c;
		color:#b83b94;
		border-radius: 5px;
		font-size: 0.9rem;
		border:none;
		box-shadow: 2px 2px 3px rgb(100, 5, 5);
	}

}
@media (max-width: 600px) {
	.buttons button{
		font-size: 1rem;
	};
}